

.Home > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botao {
  background-color: var(--cor-fundo-elemento);
  border: 2px solid var(--cor-contorno-elemento);
  padding: 5px 10px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
}

.botao:hover {
  background-color: var(--cor-fundo-elemento-hover);
}

.lista-jogos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px 10px;
}

.item-jogo {
  background-color: var(--cor-fundo-elemento);
  border: 2px solid var(--cor-contorno-elemento);
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration:none;
}

.item-jogo .item-jogo-opcoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.item-jogo-opcao {
  background-color: var(--cor-fundo-elemento);
  border: 2px solid var(--cor-contorno-elemento);
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration:none;
}

.item-jogo-opcao:hover {
  background-color: var(--cor-fundo-elemento-hover);
}


